{% extends 'base.html' %}

{% block content %}
    {{ content }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/skeleton.css">
<link rel="stylesheet" href="../css/main.css">
{% endblock %}

{% block logo %}
<a href="../index.html"><img src="../images/logokombiniert.png" alt="Bens Bienen" style="width:100%; max-width:399px;" /></a>
{% endblock %}

{% block imprint %}
<a href="../index.html">Home</a> &middot; <a href="../impressum/index.html">Impressum</a> &middot; <a href="../datenschutz/index.html">Datenschutz</a>
{% endblock %}
