<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Bens Bienen{% if title != "" %} - {{title}}{% endif %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block css %}
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">
  {% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="/images/favicon.png"> -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="six columns" style="margin-bottom:50px; margin-top:30px;">
        {% block logo %}
        <a href="#"><img src="images/logokombiniert.png" alt="Bens Bienen" style="width:100%; max-width:399px;" /></a>
        {% endblock %}
      </div>
      <div class="six columns" style="margin-bottom:50px; margin-top:30px;">
        <div style="text-align:right; width:100%; position:relative; top:-20px; font-size:0.8em;">
        </div>
      </div>
    </div>
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>

    <div class="row">
      <div class="twelve columns" style="margin-bottom:50px; margin-top:30px;">
		<hr />
        <div style="text-align:center; width:100%; position:relative; top:-20px; font-size:0.8em;">
            {% block imprint %}
            <a href="impressum/index.html">Impressum</a> &middot; <a href="datenschutz/index.html">Datenschutz</a>
            {% endblock %}
        </div>
      </div>
    </div>

</div>

</body>
</html>
